pre {

    width: 100%
    padding: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
    overflow: auto;

}

one-edge-shadow {
    width: 100%
    padding: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                overflow: auto;
}

vinlok {
    font-size:40px;
    font-family: Apple Chancery;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    width: 100%;

}

 #t02, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    margin-right: 0px;
    width: 40px;
    text-align: left;
    white-space: nowrap ;
    vertical-align: top;
    padding: 50px;

}
 #t01, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color:  white;
    background-size: 100%;
}

ul.a {
    list-style-type: circle;
    font-style: italic;
}
ul.b {list-style-type: square;}
