<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
		<!-- smart phone css  -->
		<link href="assets/phone.css" rel="stylesheet" type="text/css" media="all and (min-width: 0px) and (max-width: 480px)" />
		<!-- Tablet -->
		<link href="assets/tablet.css" rel="stylesheet" type="text/css" media="all and (min-width: 481px) and (max-width: 800px)" />
		<!-- Desktop -->
		<link href="assets/desktop.css" rel="stylesheet" type="text/css" media="only screen and (min-width:801px)">
		<style>
		html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
		.mySlides {display:none}
		.w3-tag, .fa {cursor:pointer}
		.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
		</style>
		<body>
		
		<div class="w3-top w3-center ">
			<table id="t01" >
                <tr>
                    <td><vinlok>Vinayak Lokhande</vinlok></td>
                </tr>
		</table>
			

		  	<div class="w3-row w3-large">
		    	<div class="w3-col s3">
		      		<a href="/" class="w3-btn-block w3-light-grey">Home</a>
		    	</div>
		    	<div class="w3-col s3">
		      		<a href="/cv" class="w3-btn-block w3-light-grey">About Me</a>
		    	</div>
		    	<div class="w3-col s3">
		      		<a href="/blog" class="w3-btn-block w3-light-grey">Blogs</a>
		    	</div>
		    	<div class="w3-col s3">
		      		<a href="https://www.linkedin.com/in/vinlok" class="w3-btn-block w3-light-grey">Linkedin</a>
		    	</div>
		  	</div>
		</div>
		<div class="container w3-content" style="margin-top:250px;margin-bottom:50px;margin-left:100px;">
					
					{{ content }}
					
	    </div>
		
		<footer class="w3-container w3-padding-22 w3-light-grey w3-center">
		  <a href="#" class="w3-btn w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
		  <div class="w3-xlarge w3-section">
		    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
		    <a href="mailto:lokhande.vinayak@gmail.com" title="Gmail" <i class="fa fa-google w3-hover-text-red"></i> </a>
		    <a href="https://www.linkedin.com/in/vinlok" <i class="fa fa-linkedin w3-hover-text-indigo"></i> </a>
		  </div>
		  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css </a></p>
		  <p>Disclaimer: All the views expressed here are my own and by no strech of imagination belong to any organisation and company </p>
		</footer>


		<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 15000);    
}
</script>

		</body>
	</html>
