'<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>'
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
		html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
		.mySlides {display:none}
		.w3-tag, .fa {cursor:pointer}
		.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
		</style>
		<body>

		<div class="w3-top">
		  <div class="w3-row w3-large">
		    <div class="w3-col s3">
		      <a href="/" class="w3-btn-block w3-light-grey">Home</a>
		    </div>
		    <div class="w3-col s3">
		      <a href="/cv" class="w3-btn-block w3-light-grey">About Me</a>
		    </div>
		    <div class="w3-col s3">
		      <a href="/blog" class="w3-btn-block w3-light-grey">Blogs</a>
		    </div>
		    <div class="w3-col s3">
		      <a href="#contact" class="w3-btn-block w3-light-grey">Linkedin</a>
		    </div>
		  </div>
		</div>
		
		<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
		
		  <div class="w3-panel">
		    <h1><b>Vinayak Lokhandee</b></h1>
		    <p></p>
		  </div>
		
					<div class="container">
					
					{{ content }}
					
	    </div><!-- /.container -->
		<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
		  <a href="#" class="w3-btn w3-padding w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
		  <div class="w3-xlarge w3-section">
		    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
		    <a href="#" <i class="fa fa-instagram w3-hover-text-purple"></i>
		    <i class="fa fa-google w3-hover-text-yellow"></i>
		    <i class="fa fa- w3-hover-text-red"></i>
		    <i class="fa fa-twitter w3-hover-text-light-blue"></i>
		    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
		  </div>
		  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css<		/a></p>
		</footer>

		</body>
	</html>
